html { 
  background: url(PicsArt_02-09-11.55.55.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body{
  padding:0;
  margin:0;
  color:blue;
}

h1{
  font-family: bbeauty;
}
button{
  font-family: bbeauty;
}

header{
	font-family: bbeauty;
	color: blue;
	text-align: center;
}
.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}

.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}

.box{
  position:absolute;
  height:37%;
  width:100%;
  font-family:bbeauty;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:20px 0px;
}

footer{
	text-align: center;
	font-family: bbeauty;
	color: yellow;
}